<div class="big-card-container">
    <div class="big-card-pic">
        <img src="../../../assets/sup_lex2.png" alt="Superman e Lex Luthor mais velhos"/>
    </div>
    <div class="big-card-date">
        <p>quarta-feira, 14/12/2022</p>
    </div>
    <div class="big-card-title">
        <h1><a href="#">Superman e Lex Luthor são flagrados curtindo um rolé.</a></h1>
    </div>
    <div class="big-card-news">
        <p>Após anos de batalha, Superman e Lex Luthor decidiram pendurar as luvas e resolverem seus problemas na conversa: <br>
            "-Vimos que brigar não leva a nada!" - revelou o Superman. <br>
            "-Esse cara é um barato!" - reforçou Lex Luthor
        </p>
    </div>
</div>
